.git
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
*.pyc
*.pyo
*.pyd
*.swp
*~
producer/venv/
dashboard/venv/
case_manager/venv/
logs_kafka_diagnostico.log
docker_logs_kafka.txt
docker-compose.yml_backup
*.log
